.footer{

    margin: 60px 120px;
    padding-top: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
    

}
.image{
    width: 180px ;
    height: 60px;
    object-fit: cover;
}
.social{
    width: 300px;
    height: 24px;
    object-fit: cover;
}

ul li{
    list-style: none;
    font-size: 14px;
    margin-bottom: 20px;
}

ul li a{
    color: #1B1A1A;
}

.heading{
    font-size: 20px;
    font-weight: bold;
}

.row1{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}
.row2{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}
.row3{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}
