.hero2{
    margin: 80px 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    
}
.hero2Headings{
    width: 725px;
    
   
    margin-bottom: 50px;
    
}
.hero2Heading{
    width: 673px;
    height: 44px;
    font-size: 44px;
    margin-bottom: 80px;
    text-align: center;
    
}
.hero2Para{
    width: 725px;
    height: 75px;
    font-size: 18px;
    text-align: center;
}

.hero2part{
   
   width: 1200px;
   height: 512px;
   background-color: #FFFFFF;
   border-radius: 10px;
   display: flex;
}
.subHeading{
    margin-bottom: 30px;
    background: transparent;
}

.left{
   padding-top: 3%;
    margin-top: 6%;
    margin-left: 5%;
    width: 500px;
    height: 302px;
    background: transparent;
}
.right{
   
    margin-top: 2%;
    width: 475px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background: transparent;
    padding-left: 10%;
}
.social{
    margin-left: 90px;
    margin-bottom: 10px;
    padding-top: 20px;
    width: 295px;
    height: 131px;
    object-fit: cover;
    display: flex;
    justify-content: center ;
    align-items: center;
   background: none;
}
.cup{  
    width: 400px;
    height: 294px;
    object-fit: cover;
    background: none;
}
