.hero{
    display: flex;
    margin: 0px 120px;
    align-items: center;
    padding-left: 40px;
   
}

.heroHeading{
    width: 706px;
    height: 261px;
    padding-right: 50px;
    text-align: left;
}



.buttons{
    display: flex;
    align-items: center;
    
    margin-top: 30px;
}
.button1{
    width: 166px;
    height: 49px;
    border-radius: 8px;
    background-color: #244779;
    color: white;
    font-weight: 500;
    border: none;
}
.button2{
    width: 166px;
    height: 49px;
    border-radius: 8px;
    font-weight:500px ;
    border: none;
    background: none;
}
.heroImg{
    width: 492px;
    height: 577.25px;

    padding-left: 60px;
    position: relative;
}



.mainImg{
    width: 434px;
    height: 448.73px;
    margin-left: 70px;
    margin-top: 110px;
    background: none;

}

.leftBottom{
    position: absolute;
    top: 520px;
    right: 190px;
    background: none;
      
}
.rightBottom{
    position: absolute;
    top: 520px;
    right: -150px;
    background: none;
   
   
}
.rightTop{
    position: absolute;
    top: 65px;
    right: -150px;
    background: none;
   

}