.main {
    display: flex;
    width: 100%;
   
}


aside {
    width: 95px;
    padding: 30px;
    border: 1px solid lightgray;
    height: 100vh;


}

.icons {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


}
.icon{ 
    padding-right:10px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
   
}

.mainContent{
    display: flex;
    width: 100%;
}
.home{
    padding: 20px;
    width: 100%;
}
.ContactCenter{
  width: 1920px;
}
.team{
    padding: 20px;
    width: 100%;
}
.settings{
    padding: 20px;
    width: 100%;
}
.bot{
    padding: 20px;
    width: 100%;
}
.analytics{
    padding: 20px;
    width: 100%;
}