.settings{
    width: 50%;

    padding:  20px;
   
   
    text-align: left;
    
}
.edit{
    font-size: 15px;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
}



input[type="text"], input[type="email"], input[type="password"]{
    width: 100%;
    padding: 7px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
}

.saveBtn{
    width: 222px;
    height: 50px;
  
    background-color: #184E7F;
    color: white;
    text-align: center;
    border-radius: 17px ;


}
.button{
    position: absolute;
    right: 40px;
    bottom: 35px;
}
